.visible{
    display: flex;
    flex-direction: column;
    width: 80%; 
    background: #DAE5F5;
}
.hidden{
    display: flex;
    flex-direction: column;
    width: 80%; 
    background: #DAE5F5;
}
.bankPageContent{
    display: flex;
    flex-direction: column;
    padding: 100px;
    width: 50%;
    text-align: center;
}
.notesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;    
    width: 100%;
}
.noteContainer{
    position: relative; 
    width: 100%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: justify;
    }
.noteContainer .note{
        margin-bottom: 30px;
    }
    .dateTime {
        position: absolute; 
        bottom: 5px;
        right: 20px;
        font-size: 0.9em;
        font-weight: 500;
        color: #353535;
    }
.noteContainer h2{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        
}
.input-container{
    width: 80%;
    padding: 20px;
    border: none;
    color: #fff;
    background-color: #001F8B;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
}
.input-container input{
    width: 100%;
    height: 10rem;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.input-container button{
    width: 50px;
    position: absolute;
    right: 50px;
    top: 50%;
}
.group-header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    background-color: #001F8B;
    cursor: pointer;
}
.group-header > div {
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #001F8B;
    font-weight: bold;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    text-align: center; 
}

@media (max-width: 768px) {
    .visible{
        width: 100%;
    }
     .hidden{
        display: none;
     }
     .input-container{
        width: 100%;
     }
    
}