aside{
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}
#addNote{
    height: 60px;
    width: 60px;
 position: sticky;
 border: none;
 bottom: 50px;
 left: 100%;
 padding: 0px;
 background-color: #16008B;
 color: #fff;
 font-size: 50px;
 font-weight: 900;
 border-radius: 50%;
 cursor: pointer;
}
#header{
    position: sticky;
    top: 0px;
    background-color: #ffffff;
}
.circle {
    width: 40px; /* Set width */
    height: 40px; /* Set height */
    border-radius: 50%; /* Make it a circle */
    background: red; /* Circle color */
    padding: 5px;
    text-align: center;
}